p {
  font-size: 30px;
  color: white;
  text-shadow: black 5px 5px 5px;
  position: absolute;
  top: 80%;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  z-index: 1;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}

label {
  font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
  font-weight: 600;
  text-align: center;
  display: block;
}

.dark {
  border: 1px solid black;
}

.fire {
  border: 3px dashed red;
}

.water {
  border: 5px double blue;
}

.earth {
  border: 6px groove green;
}

#meme-image-container {
  background-color: white;
  position: relative;
  width: 450px;
  height: 450px;
  display: inline-block;
  margin: 20px;
}

#buttons-container {
  margin-left: 20px;
}

#buttons-container div {
  display: inline-block;
}

#buttons-container button {
  padding: 10px 40px;
  margin: 10px 30px 20px;
}

#pre-builted {
  margin-left: 24px;
}

#pre-builted div {
  border: 1px groove black;
  position: relative;
  width: 90px;
  height: 90px;
  display: inline-block;
  margin: 8px;
}

#fire {
  background-color: red;
}

#water {
  background-color: blue;
}

#earth {
  background-color: green;
}
